# Python
__pycache__/
*.py[cod]
*.egg-info/
/dist/
/build/
*.egg

# Virtual environment
.venv/

# Testing
.pytest_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Visualizer
visualizer/node_modules/
visualizer/dist/

# OS
.DS_Store
Thumbs.db
